<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-date-picker/paper-date-picker.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-course-student-performance`
@demo demo/campus-course-student-performance.html
-->
<dom-module id="campus-course-student-performance">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style include="paper-date-picker-dialog-style"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }
        
        :host paper-item {
            color: var(--secondary-text-color);
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .037);
            cursor: pointer;
        }
        
        :host paper-toolbar paper-dropdown-menu {
            --paper-input-container-color: var(--light-theme-divider-color);
            --paper-input-container-focus-color: #fff;
            --paper-input-container-input-color: #fff;
        }
        
        :host [edit] paper-checkbox {
            --paper-checkbox-label-checked-color: var(--dark-primary-color);
        }
        
        :host [edit] paper-checkbox /deep/ #checkboxLabel {
            display: inline-flex;
            width: calc(100% - 20px);
        }
        
        :host [edit] paper-input {
            width: 60px;
            --paper-input-container: {
                padding: 0 5px;
                text-align: center;
            }
        }
        
        :host [edit] paper-textarea {
            flex: 1 1 220px;
            --paper-input-container: {
                padding: 0 5px;
            }
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .error-text-color {
            color: var(--error-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
        
        @media (min-width: 601px) {
            :host .sbar {
                display: flex;
            }
            :host .smenu {
                display: none;
            }
        }
        
        @media (max-width: 600px) {
            :host .sbar {
                display: none;
            }
            :host .smenu {
                display: flex;
            }
        }
        
        @media (min-width: 769px) {
            :host [addnew] {
                padding: 10px;
            }
            :host .log-item {
                margin: 8px 12px;
            }
            :host [drawer] {
                background: #f2f2f2;
            }
        }
        
        @media (max-width: 768px) {
            :host .smenu paper-item {
                color: rgba(0, 0, 0, .67);
            }
            :host .log-item {
                margin-top: 8px;
            }
        }
    </style>
    <template>
        <paper-drawer-panel id="drawerPanel">
            <paper-header-panel mode="waterfall" drawer>
                <paper-toolbar>
                    <paper-dropdown-menu label="[[translate._01]]" class="flex-auto">
                        <paper-menu class="dropdown-content" selected="{{chooseCourse}}" attr-for-selected="value">
                            <template is="dom-repeat" items="[[courses]]">
                                <paper-item value="[[item]]" on-tap="_getStudents">[[item.CourseName]]</paper-item>
                            </template>
                        </paper-menu>
                    </paper-dropdown-menu>
                </paper-toolbar>
                <div>
                    <template is="dom-repeat" items="[[students]]">
                        <paper-item on-tap="_edit">
                            <div class="flex-auto">[[item.SeatNo]] [[item.LabelName]]</div>
                            <div>[[item.ClassName]]</div>
                        </paper-item>
                    </template>
                </div>
            </paper-header-panel>
            <paper-header-panel mode="waterfall" main>
                <paper-toolbar>
                    <paper-icon-button icon="icons:list" paper-drawer-toggle></paper-icon-button>
                    <div class="title">[[target.SeatNo]] [[target.LabelName]]</div>
                    <div class="sbar">
                        <paper-tabs id="tabs" selected="0" no-bar>
                            <paper-tab on-tap="_showList">
                                <iron-icon icon="icons:event"></iron-icon>
                                <span style="margin-left:4px">[[translate._03]]</span>
                            </paper-tab>
                            <paper-tab on-tap="_showAddNew">
                                <iron-icon icon="icons:add"></iron-icon>
                                <span style="margin-left:4px">[[translate._04]]</span>
                            </paper-tab>
                        </paper-tabs>
                    </div>
                    <paper-menu-button class="smenu" horizontal-align="right">
                        <paper-icon-button icon="icons:more-vert" class="dropdown-trigger"></paper-icon-button>
                        <paper-menu class="dropdown-content">
                            <paper-item on-tap="_showList">
                                <iron-icon icon="icons:event"></iron-icon>
                                <span style="margin-left:4px">[[translate._03]]</span>
                            </paper-item>
                            <paper-item on-tap="_showAddNew">
                                <iron-icon icon="icons:add"></iron-icon>
                                <span style="margin-left:4px">[[translate._04]]</span>
                            </paper-item>
                        </paper-menu>
                    </paper-menu-button>
                </paper-toolbar>
                <div>
                    <div detail hidden$="[[hiddenDetail]]">
                        <div hidden$="[[!target.csp_logs.length]]">
                            <template is="dom-repeat" items="[[target.csp_logs]]" as="log">
                                <div class="log-item">
                                    <div class="layout horizontal center secondary-text-color tbar">
                                        <div class="layout horizontal center flex-auto">
                                            <span>[[log.Date]]</span>
                                        </div>
                                        <paper-icon-button class="tpib" icon="icons:create" on-tap="_chooseLogDate"></paper-icon-button>
                                    </div>
                                    <paper-material elevation="1" style="background:#fff">
                                        <template is="dom-repeat" items="[[log.Contents]]" as="content">
                                            <paper-item style="padding:4px 16px;min-height:32px">[[content]]</paper-item>
                                        </template>
                                    </paper-material>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div addnew hidden$="[[hiddenAddNew]]">
                        <paper-material elevation="1" style="background:#fff">
                            <div class="layout horizontal center wrap" style="padding:5px 12px;border-bottom:1px solid #eee">
                                <paper-input label="[[translate._02]]" value="[[chooseDate]]" readonly on-tap="_showDateDialog"></paper-input>
                                <div class="flex"></div>
                                <paper-icon-button class="secondary-text-color" icon="icons:save" on-tap="_save"></paper-icon-button>
                            </div>
                            <div class="layout vertical" style="padding:12px 16px" edit>
                                <template is="dom-repeat" items="[[target.csp_items]]">
                                    <paper-checkbox checked="{{item.checked}}" style="padding:4px 0">
                                        <div class="layout horizontal center wrap flex">
                                            <template is="dom-repeat" items="[[item.Values]]">
                                                <template is="dom-if" if="[[item.isText]]">
                                                    <template is="dom-repeat" items="[[item.value]]">
                                                        <div hidden$="[[!item]]">[[item]]</div>
                                                        <div hidden$="[[item]]">&nbsp;</div>
                                                    </template>
                                                </template>
                                                <paper-input no-label-float value="{{item.value}}" hidden="[[!item.isInput]]"></paper-input>
                                                <paper-textarea no-label-float value="{{item.value}}" hidden="[[!item.isTextarea]]"></paper-textarea>
                                            </template>
                                        </div>
                                    </paper-checkbox>
                                </template>
                            </div>
                        </paper-material>
                    </div>
                </div>
            </paper-header-panel>
        </paper-drawer-panel>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog modal id="dateDialog" class="paper-date-picker-dialog" on-iron-overlay-closed="_dismissDateDialog">
            <paper-date-picker id="datePicker"></paper-date-picker>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({

            is: 'campus-course-student-performance',

            properties: {
                /*
                 * 課堂表現 (zh-tw), 课堂表现 (zh-cn), Student Performance (en-us)
                 */
                title: {
                    type: Object,
                    readOnly: true
                },
                chooseCourse: Object,
                courses: Array,
                students: Array,
                chooseDate: Object
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': gadget.getLanguage().toLowerCase(),
                    'zh-tw': {
                        '_01': '課程',
                        '_02': '日期',
                        '_03': '表現記錄',
                        '_04': '新增表現'
                    },
                    'en-us': {
                        '_01': 'Course',
                        '_02': 'Date',
                        '_03': 'Record',
                        '_04': 'Add'
                    }
                });

                this._setTitle({
                    'zh-tw': '課堂表現',
                    'zh-cn': '课堂表现',
                    'en-us': 'Student Performance'
                });

                this._getCSPConfig();
                this._getCourses();

                this.set('hiddenDetail', true);
                this.set('hiddenAddNew', true);

                this.$.drawerPanel.openDrawer();
            },

            _getCSPConfig: function() {
                var request = {
                    contract: 'campus.csp',
                    service: '_.GetCSPConfig',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Items) {
                        var items = [].concat(response.Items.Item || []);
                        items.forEach(function(item) {
                            item.Values = [];
                            var temp = item.Title.split('##');
                            temp.forEach(function(t) {
                                if (t.toUpperCase() === 'INPUT') {
                                    item.Values.push({
                                        isInput: true,
                                        value: ''
                                    });
                                } else if (t.toUpperCase() === 'TEXTAREA') {
                                    item.Values.push({
                                        isTextarea: true,
                                        value: ''
                                    });
                                } else if (t !== '') {
                                    var vs = t.split('');
                                    vs.forEach(function(v, vdx) {
                                        if (v === ' ') vs[vdx] = false;
                                    });
                                    item.Values.push({
                                        isText: true,
                                        value: vs
                                    });
                                }
                            });
                        });

                        this.set('csp_items', items);
                    }
                }.bind(this));
            },

            _getCourses: function() {
                var request = {
                    contract: 'campus.csp',
                    service: '_.GetCourses',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Course) {
                        this.set('courses', [].concat(response.Course || []));
                        if (this.courses.length > 0) {
                            this._getStudents({
                                model: {
                                    item: this.courses[0]
                                }
                            });
                        }
                    }
                }.bind(this));
            },

            _getStudents: function(e) {
                this.set('chooseCourse', e.model.item);
                this.set('target', null);

                var request = {
                    contract: 'campus.csp',
                    service: '_.GetStudents',
                    body: {
                        UID: this.chooseCourse.CourseID
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Students) {
                        var students = [].concat(response.Students.Student || []);
                        students.forEach(function(s) {
                            s.LabelName = this.translate._current === 'en-us' ? s.EnglishName.trim() : s.Name;
                        }.bind(this));

                        this.set('students', students);
                    }
                    else
                        this.set('students', []);
                }.bind(this));
            },

            _getCSPData: function(date) {
                var request = {
                    contract: 'campus.csp',
                    service: '_.GetCSPData',
                    body: {
                        StudentID: this.target.UID,
                        CourseID: this.chooseCourse.CourseID
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Items) {
                        var items = [].concat(response.Items.Item || []);
                        this.set('target.csp_datas', items);

                        var csp_logs = [];
                        items.forEach(function(item) {
                            var contents = [];
                            [].concat(item.Content || []).forEach(function(content) {
                                contents.push([].concat(content.Values || []).join(' '));
                            });

                            csp_logs.push({
                                Date: moment(item.Date).format('YYYY-MM-DD'),
                                SYear: moment(item.Date).format('YYYY'),
                                SDate: moment(item.Date).format('MMDD'),
                                Contents: contents
                            })
                        });

                        this.set('target.csp_logs', csp_logs);
                    } else
                        this.set('target.csp_datas', []);

                    this.set('target.csp_items', JSON.parse(JSON.stringify(this.csp_items)));
                    this._chooseCSPData(moment(date || Date.now()).format('YYYY-MM-DD 00:00:00'));
                }.bind(this));
            },

            _edit: function(e) {
                this.$.drawerPanel.closeDrawer();

                this.set('target', JSON.parse(JSON.stringify(e.model.item)));
                this.set('chooseDate', moment().format('YYYY/MM/DD'));
                this._getCSPData();

                this.set('hiddenDetail', false);
                this.set('hiddenAddNew', true);

                this.$.tabs.selected = 0;
            },

            _save: function(e) {
                var content = [];
                this.target.csp_items.forEach(function(item) {
                    if (item.checked) {
                        var values = [];
                        item.Values.forEach(function(item) {
                            if (item.isText) {
                                values.push(item.value.map(function(e) {
                                    return !e ? ' ' : e;
                                }).join(''));
                            } else
                                values.push(item.value);
                        })
                        content.push({
                            Title: item.Title,
                            Values: values
                        })
                    }
                });

                var request = {
                    contract: 'campus.csp',
                    service: '_.SetCSPData',
                    body: {
                        Request: {
                            Date: this.chooseDate,
                            Content: JSON.stringify(content),
                            StudentID: this.target.UID,
                            CourseID: this.chooseCourse.CourseID
                        }
                    }
                }

                this.generateRequest(request, function(response) {
                    this.$.toast.show({
                        text: '儲存完成!',
                        duration: 1000
                    });
                    this._getCSPData(this.chooseDate);
                }.bind(this));
            },

            _chooseCSPData: function(date) {
                var csp_item;
                this.target.csp_datas.forEach(function(item) {
                    if (item.Date === date)
                        csp_item = item;
                });

                var csp_items = JSON.parse(JSON.stringify(this.csp_items));
                csp_items.forEach(function(x) {
                    if (csp_item && csp_item.Content) {
                        [].concat(csp_item.Content || []).forEach(function(y) {
                            if (x.Title === y.Title) {
                                x.checked = true;
                                var values = [].concat(JSON.parse(JSON.stringify(y.Values)) || []);
                                x.Values.forEach(function(item, idx) {
                                    if (item.isText) {
                                        item.value = values[idx].split('');
                                        item.value.forEach(function(v, vdx) {
                                            if (v === ' ') item.value[vdx] = false;
                                        });
                                    } else
                                        item.value = values[idx];
                                })
                            }
                        });
                    }
                });

                this.set('target.csp_items', []);
                setTimeout(function() {
                    this.set('target.csp_items', csp_items);
                }.bind(this), 10);
            },

            _showDateDialog: function(e) {
                this.$.dateDialog.toggle();
            },

            _dismissDateDialog: function(e) {
                if (e.detail.confirmed) {
                    this.set('chooseDate', moment(this.$.datePicker.date).format('YYYY/MM/DD'));
                    this._chooseCSPData(moment(this.$.datePicker.date).format('YYYY-MM-DD 00:00:00'));
                }
            },

            _showList: function(e) {
                this.set('hiddenDetail', false);
                this.set('hiddenAddNew', true);

                this.$.tabs.selected = 0;
            },

            _showAddNew: function(e) {
                if (!this.target) return;

                this.set('chooseDate', moment().format('YYYY/MM/DD'));
                this._chooseCSPData(moment().format('YYYY-MM-DD 00:00:00'));

                this.set('hiddenDetail', true);
                this.set('hiddenAddNew', false);

                this.$.tabs.selected = 1;
            },

            _chooseLogDate: function(e) {
                this.set('chooseDate', moment(e.model.log.Date).format('YYYY/MM/DD'));
                this._chooseCSPData(moment(e.model.log.Date).format('YYYY-MM-DD 00:00:00'));

                this.set('hiddenDetail', true);
                this.set('hiddenAddNew', false);

                this.$.tabs.selected = 1;
            }
        });
    </script>
</dom-module>
